.nav-link {
    color: black;
}
.nav-link.active{
    color: purple;
    font-weight: bold;
}
.nav-link:hover{
    color: black;
}

.nav-bar {
    background-color: rgb(94, 90, 90);
}

img{
    height: 80px;
}

.navBtn {
    font-size: larger;
}