.nav-link {
    color: black;
}
.nav-link.active{
    color: purple;
    font-weight: bold;
}
.nav-link:hover{
    color: black;
}

.homebtn {
    font-weight: bolder;
    color: black;
}
.homebtn.active{
    color: purple;
}
.homebtn:hover{
    color: black;
}

.nav-bar {
    /* TEMPORARY MAYBE ADD A PICTURE WITH MANA SYMBOLS */
    background-color: rgb(94, 90, 90);
}

img{
    height: 80px;
}